<h1>GYM Management</h1>
<div class = "front">
  <% if user_signed_in? %>
    <% byebug %>
    <p class = "sml"> You are already logged in, to login from another account logout from current account.</p>
    <button class = "btn btn-outline-primary btn-block"><%= link_to "Logout", logout_path %></button>
  <% else %>
    <button class = "btn btn-outline-primary btn-block"><%= link_to "Sign Up", new_user_registration_path %></button>
    <p class = "sml">Don't have an account?</p>
    <button class = "btn btn-outline-primary btn-block"><%= link_to "Login", new_user_session_path %></button>
    <p class = "sml">Or login </p>
  <% end %>
</div>
