<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to our gym management system, <%= @user.first_name %></h1>
    <p>
      You have successfully signed up to our gym management service.
      You can select from our wide range of exercises and subscribe for them.
    </p>
    <p>
      To login to the site, just follow this link: <%= @url %>.
    </p>
    <p>Thanks for joining</p>
    <p>Happy exercising! :)</p>
  </body>
</html>
