<%= render partial: "layouts/sidebar" %>
<div class = "container page-top">
  <div class = "intro">
    <h2 class = "text-center">Image Gallery</h2>
  </div>
  <div class = "row">
    <% if @user.images.attached? %>
      <% @user.images.each do |img| %>
        <div class = "col-lg-3 col-md-4 col-xs-6 thumb">
          <%= image_tag img, class: "zoom img-fluid " %>
          <button class = "del btn"><%= link_to "Delete Image", delete_image_path(img.signed_id), method: :delete, remote: true, data: { confirm: 'Are you sure?' } %>
          </button>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
