<% if @user.errors.any? %>
  <div id="errors">
    <h3>Errors:</h3>
    <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

