<div id="sidebar">
  <header>
    <a href="#">Gym Management</a>
  </header>
  <ul class="nav">
    <li>
      <%= link_to user_path(session[:user_id]) do%>
        <i class="zmdi zmdi-account"></i> 
        View Profile
      <% end %>
    </li>
    <li>
      <%= link_to edit_user_path(session[:user_id]) do%>
        <i class="zmdi zmdi-edit"></i> 
        Edit Profile
      <% end %>
    </li>
    <li>
      <%= link_to edit_password_path(session[:user_id]) do%>
        <i class="zmdi zmdi-key"></i> 
        Edit Password
      <% end %>
    </li>
    <li>
      <%= link_to logout_path do%>
        <i class="glyphicon glyphicon-log-out"></i>
        Logout
      <% end %>
    </li>
  </ul>
</div>
